#product-overview {
  background: linear-gradient(to top, rgba(80, 68, 18, 0.6) 10%, transparent),
    url('./images/freedom.jpg') center / cover no-repeat border-box, #ff1b68;

  /* 
  background-image: url('./images/freedom.jpg');
  background-size: cover;
  background-position: left 10% bottom 20%;
  background-origin: border-box;
  background-clip: border-box;
  background-repeat: no-repeat;
  */
  width: 100%;
  height: 33vh;
  position: relative;
}

#product-overview h1 {
  color: white;
  font-family: 'Anton', sans-serif;
  position: absolute;
  bottom: 5%;
  left: 3%;
  font-size: 1.6rem;
}

@media (min-width: 41rem) and (min-height: 41rem) {
  #product-overview {
    height: 40vh;
    background-position: 50% 25%;
  }

  #product-overview h1 {
    font-size: 3rem;
  }
}

.section-title {
  color: #2ddf5c;
  text-align: center;
}

.plan {
  background: #d5ffdc;
  text-align: center;
  padding: 1rem;
  margin: 0.5rem 0;
  width: 100%;
}

.plan--highlighted {
  background: #19b84c;
  color: white;
}

.plan__annotation {
  background: white;
  color: #19b84c;
  padding: 0.5rem;
  border-radius: 8px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.plan__title {
  color: #0e4f1f;
}

.plan__price {
  color: #858585;
}

.plan--highlighted .plan__title {
  color: white;
}

.plan--highlighted .plan__price {
  color: #0e4f1f;
}

.plan__features {
  list-style: none;
  padding: 0;
  margin: 0;
}

.plan__feature {
  margin: 0.5rem 0;
}

@media (min-width: 41rem) {
  .plan_list {
    width: 100%;
    text-align: center;
  }

  .plan {
    display: inline-block;
    width: 30%;
    vertical-align: middle;
    margin: auto;
    min-width: 13rem;
    max-width: 25rem;
  }

  .plan--highlighted {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  }
}

#key-features {
  background: #ff1b68;
  margin-top: 5rem;
  padding: 1rem;
}

#key-features .section-title {
  color: white;
  margin: 2rem;
}

.key-feature__list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.key-feature__image {
  background: #ffcede;
  width: 128px;
  border: solid 2px #424242;
  border-radius: 50%;
  height: 128px;
  margin: auto;
  padding: 1.5rem;
}

.key-feature__description {
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 1.25rem;
}

@media (min-width: 41rem) {
  .key-feature {
    display: inline-block;
    width: 30%;
    max-width: 25rem;
    vertical-align: top;
  }
}
