main {
  padding-top: 2rem;
}

.testimonial {
  font-size: 1.2rem;
}

.testimonial__image-container {
  width: 100%;
  max-width: 40rem;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.testimonial__image {
  width: 100%;
  vertical-align: top; /* bug fix for inline image in container to remove white space */
}

.testimonial__info {
  text-align: right;
  padding: 0.9rem;
}

#customer-2.testimonial {
  text-align: right;
}

#customer-2 .testimonial__info {
  text-align: left;
}

.testimonial__name {
  margin: 0.2rem;
  color: #ff5454;
  font-size: 2rem;
}

.testimonial__subtitle {
  margin: 0;
  font-size: 1.1rem;
  color: #ccc;
}

.testimonial__subtitle a {
  color: inherit;
  text-decoration: none;
}

.testimonial__subtitle a:hover,
.testimonial__subtitle a:active {
  color: #7a7a7a;
}

.testimonial__text {
  margin: 0.2rem;
}

@media (min-width: 41rem) {
  .testimonial {
    margin: 3rem auto;
    max-width: 1500px;
  }

  .testimonial__image-container {
    display: inline-block;
    vertical-align: middle;
    width: 66%;
  }

  .testimonial__info {
    display: inline-block;
    vertical-align: middle;
    width: 30%;
  }
}
