main {
  padding-top: 2rem;
}

.background {
  background: url('../images/plans-background.jpg') center/cover;
  filter: grayscale(40%);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.package {
  border: 4px solid #0e4f1f;
  border-left: none;
  background: #bfeece;
  margin: 1rem 0;
  width: 80%;
  position: relative;
}

.package:hover,
.package:active {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border-color: #ff5454;
}

.package a {
  text-decoration: none;
  color: inherit;
  padding: 2rem;
  display: block;
}

.package__badge {
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 1.25rem;
  font-size: 0.75rem;
  color: white;
  background: #ff5454;
  padding: 0.5rem;
}

.package__subtitle {
  color: #979797;
}

.package__info {
  background: white;
  padding: 1rem;
  border: 1px solid #0e4f1f;
  font-size: 1.25rem;
  color: #0e4f1f;
}

.clearfix {
  clear: both;
}

#plus {
  background: rgba(213, 255, 220, 0.95);
}

#free {
  background: rgba(234, 252, 237, 0.95);
  float: right;
  border-left: 4px solid #0e4f1f;
  border-right: none;
  text-align: right;
}

#free:hover,
#free:active {
  border-color: #ff5454;
}

#premium {
  background: rgba(14, 79, 31, 0.95);
}

#premium .package__title {
  color: white;
}

#premium .package__subtitle {
  color: #bbb;
}

@media (min-width: 41rem) {
  main {
    max-width: 1500px;
  }
}

@media (min-width: 1500px) {
  .package {
    border-left: 4px solid #0e4f1f;
    margin-left: auto;
    margin-right: auto;
  }

  #free {
    border-right: 4px solid #0e4f1f;
  }

  #free:hover,
  #free:active {
    border-right-color: #ff5454;
  }
}
