main {
  padding-top: 2rem;
}

.signup-title {
  text-align: center;
  font-size: 1.8rem;
  color: #ff5454;
}

.signup-form {
  padding: 1rem;
}

.signup-form label {
  font-weight: bold;
}

.signup-form label,
.signup-form input,
.signup-form select {
  display: block;
  margin-top: 1rem;
  width: 100%;
}

.signup-form input[type='checkbox'],
.signup-form input[type='checkbox'] + label {
  display: inline-block;
  width: auto;
  vertical-align: middle;
}

.signup-form input:not([type='checkbox']),
.signup-form select {
  border: 1px solid #ccc;
  padding: 0.2rem 0.5rem;
  font: inherit;
}

.signup-form input:focus,
.signup-form select:focus {
  outline: none;
  background: #d8f3df;
  border-color: #2ddf5c;
}

.signup-form input[type='checkbox'] {
  border: 1px solid #ccc;
  background: white;
  width: 1rem;
  height: 1rem;
  -webkit-appearance: none;
  -moz-appearence: none;
  appearance: none;
}

.signup-form input[type='checkbox']:checked {
  background: #2ddf5c;
  border: #0e4f1f;
}

.signup-form input.invalid,
.signup-form select.invalid,
.signup-form :invalid {
  border-color: red !important;
  background-color: #faacac;
}

.signup-form button[type='submit'] {
  display: block;
  margin-top: 1rem;
}

@media (min-width: 41rem) {
  .signup-form {
    margin: auto;
    width: 25rem;
  }
}
